<template>
  <div>
    <page-header />
    <nuxt/>
  </div>
</template>

<script>
import PageHeader from '~/components/PageHeader'

export default {
  components: {
    PageHeader
  }
}
</script>

<style>
html {
  height: 100%;
}

body {
  background-color: #e5e5e5;
  min-height: 100%;
}
</style>
