<template>
  <section class="section">
    <p class="breadcrumb">
      <nuxt-link to="/rooms">
        &lt; Rooms
      </nuxt-link>
    </p>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{room.name}}
        </p>
      </header>
      <div>
        <chat-messages :isParticipant="isParticipant"/>
      </div>
      <footer class="card-footer">
        <chat-composer :roomId="room.id" :isParticipant="isParticipant"/>
      </footer>
    </div>
    <div class="has-text-right channel-options">
      <button v-if="!isParticipant"
        :disabled="isLoading"
        class="button is-small is-primary is-outlined"
        :class="{'is-loading': isLoading}"
        @click.prevent="join">
        Join Room
      </button>
      <button v-else
        :disabled="isLoading"
        class="button is-small is-leave is-danger is-outlined"
        @click.prevent="leave">
        Leave Room
      </button>
    </div>
  </section>
</template>

<script>
import Cookies from 'cookie'
import app, { socket } from '~/lib/feathers/service'
import { getCookieString } from '~/lib/utils/get-cookie'

import ChatComposer from '~/components/chats/Composer'
import ChatMessages from '~/components/chats/Messages'

export default {
  middleware: 'authenticated',
  components: {
    ChatComposer,
    ChatMessages
  },
  asyncData: async function (context) {
    const {
      params: { id: roomId },
      req,
      store
    } = context

    await store.dispatch('app/login', req)
    const room = await app.service('rooms').get(roomId)
    return { room }
  },

  data () {
    return {
      room: {},
      isParticipant: undefined,
      isLoading: true
    }
  },

  async mounted () {
    try {
      await this.$store.dispatch('app/login')

      const { userId } = this.$store.state.app
      const { id: roomId } = this.$route.params
      const { total } = await app.service('participants').find({
        query: { roomId, userId }
      })

      this.isParticipant = total > 0
      this.isLoading = false
    } catch (e) {
      console.error('Error checking if user is participant', e)
    }
    try {
      await this.loadMessages()
      // event binding
      app.service('messages').on('created', message => {
        if (parseInt(message.roomId, 10) !== this.room.id) { return; }
        this.$store.commit('chat/add-message', message)
      })
    } catch (e) {
      console.error('Error getting messages', e)
    }
  },

  destroyed () {
    this.$store.commit('chat/clear-messages')

    app.service('messages').off('created')
  },

  methods: {
    async leave () {
      const { id: roomId } = this.room
      const { userId } = this.$store.state.app
      await app.service('participants').remove(null, {
        query: { roomId, userId }
      })
      this.isParticipant = undefined
      this.$store.commit('chat/clear-messages')
    },
    async join () {
      const { id: roomId } = this.room
      const { userId } = this.$store.state.app
      const participant = await app.service('participants').create({
        roomId, userId
      })
      this.isParticipant = true
      this.loadMessages()
    },
    async loadMessages () {
      if (this.isParticipant) {
        this.$store.commit('chat/fetching', true)
        const { data: messages } = await app.service('messages').find({
          query: { roomId: this.room.id }
        })
        this.$store.commit('chat/fetching', false)
        messages.forEach(message => this.$store.commit('chat/add-message', message))
        Promise.resolve(true)
      }
    }
  }
}
</script>

<style scoped>
.channel-options {
  margin-top: 1em;
}

.card-footer {
  border: 0 none;
  padding: 0.75rem;
  background: #f1f1f1;
}
</style>
