<template>
  <section class="section">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Rooms
        </p>
      </header>
      <div class="card-content">
        <nav class="panel" v-if="rooms.length">
          <nuxt-link :to="`/rooms/${room.id}`" class="panel-block room" v-for="room in rooms" :key="room.id">
            {{room.name}}
          </nuxt-link>
        </nav>
        <div class="has-text-centered" v-else>
          No room yet.
        </div>
      </div>
      <footer class="card-footer">
        <nuxt-link to="/rooms/new" class="card-footer-item">
          Create a new room
        </nuxt-link>
      </footer>
    </div>
  </section>
</template>

<script>
import Cookies from 'cookie'

import app, { socket } from '~/lib/feathers/service'
import { getCookieString } from '~/lib/utils/get-cookie'

export default {
  middleware: 'authenticated',
  asyncData: async function (context) {
    const rooms = await context.store.dispatch('app/findRooms')

    return { rooms }
  },
  data () {
    return {
      rooms: []
    }
  },
  mounted () {
    this.$store.dispatch('app/login')

    app.service('rooms').on('created', (data) => {
      this.rooms.push(data)
    })
  }
}
</script>

<style scoped>
.room:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
</style>
