<template>
  <section class="section">
    <b-notification type="is-danger" v-if="errorMessage.length > 0">
      {{errorMessage}}
    </b-notification>
    <p class="breadcrumb">
      <nuxt-link to="/rooms">
        &lt; Rooms
      </nuxt-link>
    </p>
    <form class="card" @submit.prevent="onSubmit">
      <header class="card-header">
        <p class="card-header-title">
          Create a New Room
        </p>
      </header>
      <div class="card-content">
        <b-field
          label="Name"
          :type="name.fieldType"
          :message="name.errorMessages">
          <b-input
            type="text"
            v-model="name.value"
            placeholder="Room #23582"
            maxlength="255"
            @input="clearErrorMessage">
          </b-input>
        </b-field>
      </div>
      <footer class="card-footer">
        <a href="#" class="card-footer-item" @click.prevent="onSubmit">
          Submit
        </a>
      </footer>
    </form>
  </section>
</template>

<script>
import Cookies from 'cookie'
import app, { socket } from '~/lib/feathers/service'
import { getCookieString } from '~/lib/utils/get-cookie'

export default {
  data () {
    return {
      name: {
        value: '',
        fieldType: '',
        errorMessages: []
      },
      errorMessage: ''
    }
  },
  middleware: [
    'authenticated'
  ],
  methods: {
    clearErrorMessage () {
      this.errorMessage = ''
    },
    async onSubmit () {
      try {
        await this.$store.dispatch('app/login')

        const room = await app.service('rooms').create({
          name: this.name.value
        })

        this.$router.push({
          path: '/rooms/' + room.id
        })
      } catch (err) {
        this.errorMessage = 'The room name has been taken.'
      }
    }
  }
}
</script>

<style>
</style>
