<template>
  <div
    :class="{own: isOwnMessage}"
    class="chat-message">
    {{message.text}}
  </div>
</template>

<script>
export default {
  props: [
    'message',
    'isOwnMessage'
  ]
}
</script>

<style scoped>
.chat-message {
  background: #f5f5f5;
  border-radius: 0.75rem;
  display: inline-block;
  margin: 0 0.3rem;
  max-width: 87%;
  min-height: 1rem;
  padding: 0.75rem;
  order: 2;
}

.own {
  background: #f3d2d2;
  order: 1;
}
</style>
