<template>
  <div>
    <textarea
      @keydown.enter.exact.prevent="sendMessage"
      class="textarea"
      name="chat-composer-textarea"
      placeholder="Write a message..."
      v-model="newMessage"
      :disabled="!isParticipant"
      rows="3">
    </textarea>
    <button
      @click="sendMessage"
      :disabled="!isParticipant"
      class="button is-primary">
      Send
    </button>
  </div>
</template>

<script>
import app, { socket } from '~/lib/feathers/service'
import Cookies from 'cookie'
import { getCookieString } from '~/lib/utils/get-cookie'

export default {
  props: [
    'roomId',
    'isParticipant'
  ],
  computed: {
    newMessage: {
      get () {
        return this.$store.state.chat.newMessage
      },
      set (value) {
        this.$store.commit('chat/composer-update', value)
      }
    }
  },
  mounted () {
    this.$store.dispatch('app/login')
  },
  methods: {
    async sendMessage () {
      const createdBy = this.$store.state.app.userId
      const roomId = this.roomId
      const text = this.$store.state.chat.newMessage

      const message = await app.service('messages').create({ text, createdBy, roomId })

      this.$store.commit('chat/composer-update', '')
    }
  }
}
</script>

<style scoped>
div  {
  align-items: center;
  display: flex;
  width: 100%;
}

.textarea {
  background: transparent;
  border: 0 none transparent;
  box-shadow: none;
  min-width: auto;
  padding-left: 0.25rem;
  resize: none;
}
</style>
