<template>
  <div
    :class="{ own: isOwnMessage }">
    {{initials}}
  </div>
</template>

<script>
export default {
  props: [
    'creator',
    'isOwnMessage'
  ],
  computed: {
    initials () {
      return this.creator.username.split(' ')
        .map(name => name.split('')[0])
        .join('')
    }
  }
}
</script>

<style scoped>
div {
  align-items: center;
  background: #f5f5f5;
  border-radius: 50%;
  color: #b5b5b5;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  order: 1;
  overflow: hidden;
  width: 40px;
}

.own {
  background: #f3d2d2;
  order: 2;
}
</style>
