<template>
  <div class="chat-container">
    <transition-group name="transition--bubbles" tag="section">
      <div
        :class="isOwnMessage(message) ? 'own': ''"
        class="chat-bubble-container"
        v-for="message in messages"
        :key="message.id + '-' + message.roomId">
        <chat-creator :creator="message.creator" :isOwnMessage="isOwnMessage(message)"/>
          <chat-bubble :message="message" :isOwnMessage="isOwnMessage(message)" />
      </div>
    </transition-group>
    <div v-if="!isParticipant" class="centered">
      You are not a participant of this chat room. Join the room to see the messages.
    </div>
    <div v-else-if="hasNoMessages && !loading" class="centered">
      No messages yet.
    </div>
    <div v-else-if="loading" class="loading-indicator">
      <loading-indicator :loading="true" />
    </div>
  </div>
</template>

<script>
import ChatBubble from '~/components/chats/Bubble'
import ChatCreator from '~/components/chats/Creator'
import LoadingIndicator from '~/components/LoadingIndicator'

export default {
  components: {
    LoadingIndicator,
    ChatBubble,
    ChatCreator
  },
  props: [
    'isParticipant'
  ],
  computed: {
    messages () {
      return this.$store.state.chat.messages
    },
    hasNoMessages () {
      return this.$store.state.chat.messages.length === 0
    },
    loading () {
      return this.$store.state.chat.fetching
    }
  },
  methods: {
    isOwnMessage (message) {
      return this.$store.state.app.userId === parseInt(message.createdBy, 10)
    }
  }
}
</script>

<style scoped>
.chat-container {
  padding: 0.75rem;
}

.centered {
  text-align: center;
  margin: 1rem;
}

.loading-indicator {
  display: inline-block;
  margin: 1rem auto;
}

.chat-bubble-container {
  display: flex;
  margin: 0.5rem 0;
}

.chat-bubble-container.own {
  justify-content: flex-end;
  margin: 0.3rem;
}

.transition--bubbles-enter,
.transition--bubbles-leave-to {
  max-height: 0;
  opacity: 0;
}

.transition--bubbles-enter-active,
.transition--bubbles-leave-active {
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.transition--bubbles-enter-to,
.transition--bubbles-leave {
  overflow: hidden;
  max-height: 1000px;
  opacity: 1;
}
</style>
