<template>
  <form>
    <b-notification type="is-danger" v-if="errorMessage.length > 0">
      {{errorMessage}}
    </b-notification>
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Login Form
        </p>
      </div>
      <div class="card-content">
        <b-field
          label="Email"
          :type="email.fieldType"
          :message="email.errorMessages">
          <b-input
            type="email"
            v-model="email.value"
            placeholder="johnsmith@example.com"
            maxlength="30">
          </b-input>
        </b-field>
        <b-field
          label="Password"
          :type="password.fieldType"
          :message="password.errorMessages">
          <b-input
            v-model="password.value"
            type="password"
            placeholder="********"
            maxlength="30">
          </b-input>
        </b-field>
      </div>
      <div class="card-footer">
        <a class="card-footer-item">
          <span class="button is-primary" @click.prevent="submit">
            Sign In
          </span>
        </a>
      </div>
    </div>
  </form>
</template>

<script>
import app from '~/lib/feathers/service'

export default {
  data () {
    return {
      email: {
        value: '',
        fieldType: '',
      },
      password: {
        value: '',
        fieldType: '',
      },
      errorMessage: ''
    }
  },
  methods: {
    async submit () {
      try {
        this.errorMessage = ''

        const {email: {value: email}, password: {value: password}} = this

        const {accessToken} = await app.authenticate({
          strategy: 'local',
          email,
          password
        })
        const {userId} = await app.passport.verifyJWT(accessToken)

        if (this.$route.query.next) {
          this.$router.push({ path: this.$route.query.next })
        } else {
          this.$router.push({ path: '/' })
        }
      } catch (err) {
        console.error('Error authenticating', err)
        this.errorMessage = 'Please double-check your email and password'
      }
    }
  }
}
</script>

<style>
</style>
