<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <nuxt-link to="/" class="navbar-item site-title">
        Chatwick
      </nuxt-link>
    </div>

    <div class="navbar-menu" v-if="authenticated">
      <div class="navbar-end">
        <div class="navbar-item">
          <nuxt-link to="/rooms" class="navbar-item">
            Rooms
          </nuxt-link>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  computed: {
    authenticated () {
      return this.$store.getters.isAuthenticated
    }
  }
}
</script>

<style scoped>
.site-title {
  font-family: 'Racing Sans One', cursive;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
</style>
