<template>
  <form>
    <b-notification type="is-danger" v-if="errorMessage.length > 0">
      {{errorMessage}}
    </b-notification>
    <div class="card">
      <div class="card-header">
        <p class="card-header-title">
          Sign Up Form
        </p>
      </div>
      <div class="card-content">
        <b-field
          label="Email"
          :type="email.fieldType"
          :message="email.errorMessages">
          <b-input
            type="email"
            v-model="email.value"
            placeholder="johnsmith@example.com"
            maxlength="255">
          </b-input>
        </b-field>
        <b-field
          label="Name"
          :type="username.fieldType"
          :message="username.errorMessages">
          <b-input
            type="text"
            v-model="username.value"
            placeholder="John Smith"
            maxlength="255">
          </b-input>
        </b-field>
        <b-field
          label="Password"
          :type="password.fieldType"
          :message="password.errorMessages">
          <b-input
            v-model="password.value"
            type="password"
            placeholder="********">
          </b-input>
        </b-field>
      </div>
      <div class="card-footer">
        <a class="card-footer-item">
          <span class="button is-primary" @click.prevent="submit">
            Create Account
          </span>
        </a>
      </div>
    </div>
  </form>
</template>

<script>
import app from '~/lib/feathers/service'

export default {
  data () {
    return {
      username: {
        value: '',
        fieldType: '',
        errorMessages: []
      },
      email: {
        value: '',
        fieldType: '',
        errorMessages: []
      },
      password: {
        value: '',
        fieldType: '',
        errorMessages: []
      },
      errorMessage: ''
    }
  },
  watch: {
    'email.value' (email) {
      if (email.length > 3 && email.indexOf('@') >= 1) {
        this.email.fieldType = 'is-success'
        this.email.errorMessages = []
      } else if (email.length > 3) {
        this.email.fieldType = 'is-danger'
        this.email.errorMessages = ['Not a valid email address']
      } else {
        this.email.fieldType = ''
        this.email.errorMessages = []
      }
    },
    'password.value' (password) {
      if (password.length > 6) {
        this.password.fieldType = 'is-success'
        this.password.errorMessages = []
      } else if (password.length > 3) {
        this.password.fieldType = 'is-warning'
        this.password.errorMessages = ['Weak password']
      } else if (password.length >= 1) {
        this.password.fieldType = 'is-danger'
        this.password.errorMessages = ['Password too short']
      }
    },
    'username.value' (username) {
      if (username.length > 3) {
        this.username.fieldType = 'is-success'
        this.username.errorMessages = []
      } else if (username.length === 0) {
        this.username.fieldType = 'is-danger'
        this.username.errorMessages = ['Username cannot be empty']
      } else {
        this.username.fieldType = ''
        this.username.errorMessages = ['']
      }
    }
  },
  methods: {
    async submit () {
      const {
        email: {value: email},
        password: {value: password},
        username: {value: username}
      } = this

      try {
        this.errorMessage = ''

        const response = await app.service('users').create({
          email,
          password,
          username
        })
      } catch (err) {
        console.error('Error signing up', err)
        this.errorMessage = 'Your account failed to create. Please double-check your input.'
        return
      }

      try {
        const {accessToken} = await app.authenticate({
          strategy: 'local',
          email,
          password
        })

        const {userId} = await app.passport.verifyJWT(accessToken)

        this.$router.push({ path: '/' })
      } catch (err) {
        console.error('Error authenticating', err)
        this.errorMessage = 'Your account has been created but failed to login.'
      }
    }
  }
}
</script>
