<template>
  <section class="hero is-bold is-primary is-large">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Chatwick
        </h1>
        <h2 class="subtitle">
          Make chats wicked again
        </h2>
      </div>
    </div>
  </section>
</template>

<style scoped>
.title {
  margin-bottom: 1.13em;
  font-family: 'Racing Sans One', cursive;
  font-weight: 400;
}
</style>

<script>
export default {
  middleware: 'authenticated'
}
</script>
