<template>
  <section class="section">
    <login-form />
  </section>
</template>

<script>
import LoginForm from '~/components/LoginForm'

export default {
  components: {
    LoginForm
  },
  mounted () {
    if (this.$store.getters.isAuthenticated) {
      this.$router.push({ path: '/' })
    }
  }
}
</script>

<style>
</style>
