<template>
  <section class="section">
    <signup-form />
  </section>
</template>

<script>
import SignupForm from '~/components/SignupForm.vue'

export default {
  components: {
    SignupForm
  }
}
</script>

<style>
</style>
